:root {
    --primary: rgb(128, 235, 217);
    --seconday: #e880f1;
    --dark: #131a26;
    --light: #eee;
    --background: rgba(169, 221, 212, 0.973);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: var(--background);
}

.App {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.calculator {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 10px 10px 64px rgba(0,0,0,0.2);
    border: solid 1px;
    border-color: var(--light);
}

.display {
    padding: 16px;
    text-align: right;
    background-color: var(--dark);
    color: var(--light);
    font-size: 24px;
    font-weight: 300;
    user-select: none;
}

.display span {
    font-size: 14px;
    color: #888;
}

button {
    appearance: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
    border: solid 1px;
    border-color: var(--primary);
}

button:hover {
    opacity: 0.9;
    border-color: var(--light);   
}

.operators {
    display: flex;
}

.operators button {
    flex: 1 1 0%;
    background-color: var(--primary);
    font-weight: 700;
    color:var(--dark)
}

.operators button:hover {
    color: var(--seconday);
    border-color: var(--dark);
}

.digits {
    display: flex;
    flex-wrap: wrap;
}

.digits button {
    flex: 1 1 33%;
    background-color: var(--dark);
}

.digits button:hover {
    color: var(--primary);
}